*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* .navbar9 */
#nav9{
    width: 100%;
    height: 50px;
    background-color: purple;
}
.navrap9{
    width: 80%;
    margin: auto;
}
.menu6 a{
    float: right;
    margin-top: 10px;
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'segoe ui', tahoma, geneva, verdana, sans-serif;
    padding-right: 15px;
}
.menu6  a:hover{
    background-color: purple;
}
/* .navbar10 */
#nav10{
    width: 100%;
    height: 50px;
}
.navrap10{
    width: 80%;
    margin: auto;
}
.logo3 a img{
    position: absolute; 
    height: 100px;
    width: 100px;
    margin-top: 10px;
}
.menu7{ 
    position: absolute;
    float: left;
    margin-left: 130px;
    margin-top: 50px;
}
.menu7  ul li{
    display: inline;
}
.menu7 ul li a{
    color: rgba(25, 23, 23, 0.796);
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    text-decoration: none;
}
.menu7 ul li a:hover{
    background-color: white;
    text-decoration: underline;
}
/* .navrap36 */
.navrap36{
    width: 96%;
}
.menu25{ 
    float: left;
    margin-top: 50px;
    margin-left: 1150px;
}
.menu25 ul li{
    display: inline;
}
.menu25 ul li a{
    color: rgba(25, 23, 23, 0.796);
    text-decoration: none;
    font-size: 19px;
    padding-left: 40px;
}
/* .navbar11 */
#nav11{
    width: 100%;
    height: 50px;
}
.navrap11{
    width: 80%;
}
.menu8{ 
    position: absolute;
    margin-top: 90px;
    color: black;
    padding-left: 1px;
    font-size: 50px;
    margin-left: 11%;
}
/* .navbar12 */
.mid3{
    width: 20%;
    height: 10vh;
}
.midrap3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1px;
    grid-column-gap: 30px;
    padding-left: 55%;
    margin-top: 100px;
}
.box4 img{
    width: 270px;
    height: 300px;
    margin-top: 30%;
    background-color: rgba(0,0,0,0.5);
}
.box4 h5{
    margin-top: 10px;
    color: black;
    text-align: center;
    font-size: 17px;
    margin-left: 50px;
}
.box4 p{
    margin-top: 1px;
    color: black;
    margin-left: 140px;
}
/* .footer10 */
.footer10{
    height: 70vh;
    background-color: #111010;
}
.footrap10{
    width: 1%;
    margin-top: 120%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-left: 10%;
}
.box5{
    margin-top: 40px;
    width: 250px;
    height: 50vh;
}
.box5 h1{
    margin-top: 15px;
    color: white;
    text-align: center;
}
.box5 p{
    margin-top: 15px;
    color: white;
    text-align: start;
    padding: 8px;
    margin-left: 58px;
}
.logo4 img{
    position: absolute; 
    height: 100px;
    width: 100px;
    margin-top: 20px;
}


